<footer class="app-footer">
    <span><a href="http://engageiq.com">EngageIQ</a> © {{ "now"|date("Y")}}</span>
    <span class="ml-auto">Powered by <a href="http://engageiq.com">EngageIQ</a></span>
</footer>
