<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <!-- <li class="nav-item">
                <a class="nav-link" href="index.html"><i class="icon-speedometer"></i> Dashboard <span class="badge badge-primary">NEW</span></a>
            </li>
            <li class="nav-title">
                ThemeWorth
            </li>
            <li class="nav-item">
                <a href="colors.html" class="nav-link"><i class="icon-drop"></i> Colors</a>
            </li>
            <li class="nav-item">
                <a href="typography.html" class="nav-link"><i class="icon-pencil"></i> Typograhy</a>
            </li> -->
            <li class="nav-title">
                Components
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i> Base</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('create_new_path')}}"><i class="icon-puzzle"></i> Create New Path</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item mt-auto">
                <a class="nav-link nav-link-success" href="" target="_top"><i class="icon-cloud-download"></i> Site</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-danger" href="" target="_top"><i class="icon-layers"></i> Try  <strong>PRO</strong></a>
            </li>
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>
