<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock %}
    </head>
    <body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
        {% block header %}
            {% include 'paths/header/header.html' %}
        {% endblock %}
        <div class="app-body">
            {% include 'paths/sidebar/sidebar.html' %}
            <div class="main">
                {% include 'paths/app-body/app-body.html' %}
                <div class="container-fluid">
                    <div class="animated fadeIn">
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        {% block footer %}
            {% include 'paths/footer/footer.html' %}
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('build/app.js')}}"></script>
        {% endblock %}
    </body>
</html>
